<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhonghui.wms.mapper.WmsOutboundApplicationMapper">
    
    <resultMap type="WmsOutboundApplication" id="WmsOutboundApplicationResult">
        <result property="id"    column="id"    />
        <result property="documentNo"    column="document_no"    />
        <result property="documentNoId"    column="document_no_id"    />
        <result property="businessType"    column="business_type"    />
        <result property="customerId"    column="customer_id"    />
        <result property="documentStatus"    column="document_status"    />
        <result property="contractType"    column="contract_type"    />
        <result property="applicationType"    column="application_type"    />
        <result property="applicant"    column="applicant"    />
        <result property="applicationDate"    column="application_date"    />
        <result property="applicationStatus"    column="application_status"    />
        <result property="approved"    column="approved"    />
        <result property="approvedDate"    column="approved_date"    />
        <result property="approvedStatus"    column="approved_status"    />
        <result property="approvedComments"    column="approved_comments"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectWmsOutboundApplicationVo">
        select id, document_no, document_no_id, business_type, customer_id, document_status, contract_type, application_type, applicant, application_date, application_status, approved, approved_date, approved_status, approved_comments, remark from wms_outbound_application
    </sql>

    <select id="selectWmsOutboundApplicationList" parameterType="WmsOutboundApplication" resultMap="WmsOutboundApplicationResult">
        <include refid="selectWmsOutboundApplicationVo"/>
        left join scm_sale_custom on scm_sale_custom.id = wms_outbound_application.customer_id
        <where>
            <if test="documentNo != null and documentNo != ''"> and document_no = #{documentNo}</if>
            <if test="documentNoId != null"> and document_no_id = #{documentNoId}</if>
            <if test="businessType != null"> and business_type = #{businessType}</if>
            <if test="customerId != null"> and customer_id = #{customerId}</if>
            <if test="documentStatus != null"> and document_status = #{documentStatus}</if>
            <if test="contractType != null"> and contract_type = #{contractType}</if>
            <if test="applicationType != null"> and application_type = #{applicationType}</if>
            <if test="applicant != null"> and applicant = #{applicant}</if>
            <if test="applicationDate != null"> and application_date = #{applicationDate}</if>
            <if test="applicationStatus != null"> and application_status = #{applicationStatus}</if>
            <if test="approved != null"> and approved = #{approved}</if>
            <if test="approvedDate != null"> and approved_date = #{approvedDate}</if>
            <if test="approvedStatus != null"> and approved_status = #{approvedStatus}</if>
            <if test="approvedComments != null and approvedComments != ''"> and approved_comments = #{approvedComments}</if>
            <if test="remark != null and remark != ''"> and remark = #{remark}</if>
        </where>
    </select>
    
    <select id="selectWmsOutboundApplicationById" parameterType="Long" resultMap="WmsOutboundApplicationResult">
        <include refid="selectWmsOutboundApplicationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWmsOutboundApplication" parameterType="WmsOutboundApplication" useGeneratedKeys="true" keyProperty="id">
        insert into wms_outbound_application
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="documentNo != null">document_no,</if>
            <if test="documentNoId != null">document_no_id,</if>
            <if test="businessType != null">business_type,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="documentStatus != null">document_status,</if>
            <if test="contractType != null">contract_type,</if>
            <if test="applicationType != null">application_type,</if>
            <if test="applicant != null">applicant,</if>
            <if test="applicationDate != null">application_date,</if>
            <if test="applicationStatus != null">application_status,</if>
            <if test="approved != null">approved,</if>
            <if test="approvedDate != null">approved_date,</if>
            <if test="approvedStatus != null">approved_status,</if>
            <if test="approvedComments != null">approved_comments,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="documentNo != null">#{documentNo},</if>
            <if test="documentNoId != null">#{documentNoId},</if>
            <if test="businessType != null">#{businessType},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="documentStatus != null">#{documentStatus},</if>
            <if test="contractType != null">#{contractType},</if>
            <if test="applicationType != null">#{applicationType},</if>
            <if test="applicant != null">#{applicant},</if>
            <if test="applicationDate != null">#{applicationDate},</if>
            <if test="applicationStatus != null">#{applicationStatus},</if>
            <if test="approved != null">#{approved},</if>
            <if test="approvedDate != null">#{approvedDate},</if>
            <if test="approvedStatus != null">#{approvedStatus},</if>
            <if test="approvedComments != null">#{approvedComments},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateWmsOutboundApplication" parameterType="WmsOutboundApplication">
        update wms_outbound_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="documentNo != null">document_no = #{documentNo},</if>
            <if test="documentNoId != null">document_no_id = #{documentNoId},</if>
            <if test="businessType != null">business_type = #{businessType},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="documentStatus != null">document_status = #{documentStatus},</if>
            <if test="contractType != null">contract_type = #{contractType},</if>
            <if test="applicationType != null">application_type = #{applicationType},</if>
            <if test="applicant != null">applicant = #{applicant},</if>
            <if test="applicationDate != null">application_date = #{applicationDate},</if>
            <if test="applicationStatus != null">application_status = #{applicationStatus},</if>
            <if test="approved != null">approved = #{approved},</if>
            <if test="approvedDate != null">approved_date = #{approvedDate},</if>
            <if test="approvedStatus != null">approved_status = #{approvedStatus},</if>
            <if test="approvedComments != null">approved_comments = #{approvedComments},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWmsOutboundApplicationById" parameterType="Long">
        delete from wms_outbound_application where id = #{id}
    </delete>

    <delete id="deleteWmsOutboundApplicationByIds" parameterType="String">
        delete from wms_outbound_application where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>